@model IEnumerable<a5_mvc.Models.Sale>

@{
	ViewBag.Title = "Sales";
}

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.CustomerId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SoldPetId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SaleDate)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayName(item.CustomerId.ToString() + " : " + item.Customer.Name)
		</td>
		<td>
			@Html.DisplayName(item.SoldPetId + " (" + item.SoldPet.Category.CategoryName + "): " + item.SoldPet.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.SaleDate)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
			@Html.ActionLink("Details", "Details", new { id=item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id=item.Id })
		</td>
	</tr>
}

</table>
